@media only screen and (max-device-width: 800px) {
	html {
		font-size: 12px;
	}

	ala-chat-area {
		left: 0px;
		right: 0px;
	}

	@media (max-device-width: 480px) {
		ala-chat-listing:not(.active) {
			max-width: calc(50vw - 16px);
		}

		ala-chat-listing.active {
			left: calc(50vw  + 16px);
			width: calc(50vw - 32px);
		}

		ala-sidebar {
			width: 50vw;
		}

		ala-scroll-overlay {
			width: 50vw;
		}

		h4 {
			display: none;
		}
	}	
}