* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Basic", sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

ala-entrance {
    background: #1565C0;
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
    top: 0vh;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

ala-entrance.authorized {
    top: -100vh;
}

@-webkit-keyframes fade-in {from {opacity: 0;} to {opacity: 1;}}

@keyframes fade-in {from {opacity: 0;} to {opacity: 1;}}
@-webkit-keyframes fade-out {from {opacity: 1;} to {opacity: 0;}}
@keyframes fade-out {from {opacity: 1;} to {opacity: 0;}}
@-webkit-keyframes slide-up {from {top: 24px;} to {top: 0px;}}
@keyframes slide-up {from {top: 24px;} to {top: 0px;}}
@-webkit-keyframes slide-down {from {top: 0px;} to {top: 24px;}}
@keyframes slide-down {from {top: 0px;} to {top: 24px;}}

.fade-in {
    opacity: 0;
    -webkit-animation: fade-in ease-out;
    animation: fade-in ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
}

.fade-out {
    opacity: 1;
    -webkit-animation: fade-out ease-out;
    animation: fade-out ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
}

.fade-in.slide-up {
    -webkit-animation: fade-in ease-out, slide-up ease-out;
    animation: fade-in ease-out, slide-up ease-out;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-duration: 600ms, 600ms;
    animation-duration: 600ms, 600ms;
}

.fade-in.slide-down {
    -webkit-animation: fade-in ease-out, slide-down ease-out;
    animation: fade-in ease-out, slide-down ease-out;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-duration: 600ms, 600ms;
    animation-duration: 600ms, 600ms;
}

.fade-out.slide-up {
    -webkit-animation: fade-out ease-out, slide-up ease-out;
    animation: fade-out ease-out, slide-up ease-out;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-duration: 600ms, 600ms;
    animation-duration: 600ms, 600ms;
}

.fade-out.slide-down {
    -webkit-animation: fade-out ease-out, slide-down ease-out;
    animation: fade-out ease-out, slide-down ease-out;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-duration: 600ms, 600ms;
    animation-duration: 600ms, 600ms;
}

.skip-animation-out {
    -webkit-animation: none !important;
    animation: none !important;
    opacity: 0;
    top: 0px;
}

.skip-animation-in {
    -webkit-animation: none !important;
    animation: none !important;
    opacity: 1;
    top: 0px;
}

h1 {
    font-size: 86px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
    -webkit-animation-delay: 0ms !important;
    animation-delay: 0ms !important;
    position: relative;
    top: 0px;
    margin-top: 0px;
    padding-top: 60px;
}

h2 {
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 64px;
    -webkit-animation-delay: 200ms !important;
    animation-delay: 200ms !important;
    position: relative;
    top: 0px;
}

button {
    text-align: center;
    text-transform: uppercase;
    padding: 6px 12px;
}

button.flat {
    background: transparent;
    border: 0px;
    color: #FFFFFF;
    cursor: pointer;
}

button.flat.large {
    font-size: 32px;
    margin-top: 120px;
}

button.raised {
    min-width: 64px;
    margin: 4px;
    border: none;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: 2px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, .87);
}

button.raised.warning {
    background: #FF5252;
    color: #FFFFFF;
}

button.raised.ok {
    background: #4CAF50;
    color: #FFFFFF;
}

#chat-submit-button {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.anim-delay {
    -webkit-animation-delay: 400ms !important;
    animation-delay: 400ms !important;
}

#spin-area {
    position: relative;
    height: 0px;
}

.hidden {
    display: none;
}

.relative-anchor {
    position: relative;
}

ala-entrance form {
    width: 240px;
    position: absolute;
    left: calc(50% - 120px);
}

input,
textarea,
button {
    font-family: "Basic", sans-serif;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=text],
input[type=password] {
    border: 0px;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 18px;
    background: 0px;
    padding: 4px 4px 0px;
    width: 100%;
}

label {
    position: absolute;
    left: 4px;
    bottom: 2px;
    font-size: 18px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    color: rgba(255, 255, 255, .54);
    pointer-events: none;
}

input[type=text]:invalid + label,
input[type=password]:invalid + label {
}

input[type=text]:valid + label,
input[type=text]:focus + label,
input[type=password]:valid + label,
input[type=password]:focus + label {
    font-size: 12px;
    bottom: 24px;
}

ala-input {
    display: block;
    position: relative;
    margin: 20px 0px 0px;
}

input[type=submit] {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .1), 0px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .1), 0px 3px 5px rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 4px 16px;
    border: 0px;
    font-family: "Basic", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0px auto;
}

ala-input.large-margin {
    margin: 32px 0px 0px;
}

.centering {
    text-align: center;
}

ala-app {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

header {
    background: #1565C0;
    color: #FFFFFF;
    font-size: 32px;
    padding: 16px 48px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 64px;
    z-index: 5;
    position: relative;
}

ala-snack-bar {
    display: block;
    position: fixed;
    bottom: -48px;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .87);
    left: 24px;
    padding: 12px 24px;
    text-align: center;
    z-index: 100;
}

ala-snack-bar.active {
    bottom: 10px;
    -webkit-transition: bottom 200ms ease-out, opacity 1000ms linear;
    transition: bottom 200ms ease-out, opacity 1000ms linear;
}

ala-snack-bar.gone {
    opacity: 0;
    pointer-events: none;
}

ala-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

ala-flex#app-container {
    height: calc(100% - 64px);
    width: 100vw;
    position: relative;
    background: #F0F0F0;
}

ala-sidebar {
    height: 100%;
    width: 240px;
    background: #F8F8F8;
    padding: 8px;
    border-right: 1px solid rgba(0, 0, 0, .12);
}

ala-chat-area {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0px 16px;
    z-index: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 16px;
    right: 16px;
    top: 96px;
    bottom: 16px;
}

textarea#chat-input {
    border: rgba(0, 0, 0, .12);
    margin: 10px 12px;
    resize: none;
    font-family: "Basic", sans-serif;
    max-height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    width: calc(100% - 20px);
    height: 40px;
    font-size: 14px;
}

ala-chat-listing {
    background: #FFFFFF;
    padding: 8px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin-bottom: 4px;
    z-index: 2;
    height: 112px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 8px;
    width: 224px;
    -webkit-transition: 400ms top ease, 400ms height ease, 400ms left ease 400ms, 400ms width ease 400ms;
    transition: 400ms top ease, 400ms height ease, 400ms left ease 400ms, 400ms width ease 400ms;
}

ala-chat-listing.active {
    position: absolute;
    left: 248px;
    top: 8px;
    width: calc(100% - 256px);
    height: calc(100% - 16px);
    -webkit-transition: 400ms left ease, 400ms width ease, 400ms top ease 400ms, 400ms height ease 400ms;
    transition: 400ms left ease, 400ms width ease, 400ms top ease 400ms, 400ms height ease 400ms;
    z-index: 3;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

ala-chat-listing.active ala-most-recent {
    opacity: 0;
}

ala-chat-listing.active ala-members-list {
    border-bottom-color: rgba(0, 0, 0, .12);
    height: 42px;
}

ala-chat-title {
    display: block;
    font-size: 24px;
    color: rgba(0, 0, 0, .87);
}

ala-members-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: rgba(0, 0, 0, .87);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: 400ms border-bottom-color ease, 400ms height ease 400ms;
}

ala-members-list .icon:not(:first-child) {
    margin-left: 4px;
}

ala-most-recent {
    display: block;
    color: rgba(0, 0, 0, .54);
    font-style: italic;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    opacity: 1;
    -webkit-transition: 400ms opacity;
    transition: 400ms opacity;
}

ala-unread-count {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 12px;
    background: #FF5252;
    color: #FFFFFF;
    padding: 0px 4px;
    border-radius: 4px;
    visibility: hidden;
}

ala-message-group .icon {
    position: absolute;
    bottom: 0px;
}

ala-message-group[direction=left] .icon {
    left: 0px;
}

ala-message-group[direction=right] .icon {
    right: 0px;
}


ala-message-group {
    position: relative;
    padding-bottom: 52px;
    width: 88%;
    display: block;
}

ala-message-group[direction=left] {
    padding-left: 40px;
    margin-right: 12%;
}

ala-message-group[direction=right] {
    padding-right: 40px;
    margin-left: 12%;
}

ala-chat-message {
    border-radius: 8px;
    position: relative;
    z-index: 1;
    padding: 8px;
    color: #FFFFFF;
    word-wrap: break-word;
    display: block;
    font-size: 14px;
}

ala-message-group[direction=left] ala-chat-message {
    background: #536DFE;
}

ala-message-group[direction=right] ala-chat-message {
    background: #FF5252;
}

ala-chat-message:last-child:before {
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    bottom: -18px;
    z-index: -1;
}

ala-message-group[direction=left] ala-chat-message:before {
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #536DFE;
    border-left: 12px solid #536DFE;
    left: 12px;
}

ala-message-group[direction=right] ala-chat-message:before {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #FF5252;
    border-top: 12px solid #FF5252;
    border-left: 12px solid transparent;
    right: 12px;
}

ala-chat-message:not(:last-child) {
    margin-bottom: 4px;
}

ala-message-list {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-shrink: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 0px;
}

.nicescroll-rails {
    z-index: 6 !important;
}

ala-flex#button-bar {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
}

#log-in {
    
}

ala-lightbox-container, ala-alert-container {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, .6);
    z-index: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    -webkit-transition: 400ms opacity linear 400ms;
    transition: 400ms opacity linear 400ms;
    pointer-events: none;
}

ala-lightbox {
    display: block;
    max-width: 450px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 16px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    left: -100%;
    -webkit-transition: 400ms left ease-in;
    transition: 400ms left ease-in;
}

ala-lightbox-container.active, ala-alert-container.active {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, .6);
    z-index: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -webkit-transition: 400ms opacity linear;
    transition: 400ms opacity linear;
    pointer-events: all;
}

.active > ala-lightbox {
    display: block;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 16px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    left: 0px;
    -webkit-transition: 400ms left ease-out 400ms;
    transition: 400ms left ease-out 400ms;
}



ala-lightbox form {
    width: 360px;
}

input[type=text].dark,
input[type=password].dark {
    border-bottom: 1px solid rgba(0, 0, 0, .86);
    color: rgba(0, 0, 0, .86);
}

.dark + label {
    color: rgba(0, 0, 0, .54);
}

#form-new-chat #title {
    font-size: 24px;
    width: 100%;
}

#form-new-chat #title + label {
    font-size: 24px;
}

#form-new-chat #title:focus + label,
#form-new-chat #title:valid + label {
    font-size: 12px;
    bottom: 32px;
}

.align-right {
    text-align: right;
}

ala-email-suggestion {
    display: block;
    font-size: 18px;
}

ala-user-list {
    display: block;
    height: 200px;
    overflow-y: scroll;
}
ala-user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
}

h3 {
    padding: 0px;
    margin: 4px 12px 8px;
}

ala-remove-button {
    width: 12px;
    height: 12px;
    background: #D8D8D8;
    border-radius: 12px;
    margin: 26px 16px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ala-remove-button:not([enabled]) {
    opacity: 0;
    pointer-events: none;
}

ala-remove-button:hover {
    background: #C0C0C0;
}

.icon-64 {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

ala-user-info {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 12px;
}

ala-screen-name {
    font-size: 16px;
}

ala-email {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
}

.icon-32 {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.icon-24 {
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

ala-chats-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#new-chat {
    -webkit-box-ordinal-group: 2147483648;
    -webkit-order: 2147483647;
    -ms-flex-order: 2147483647;
    order: 2147483647;
    margin: 8px 0px;
}
ala-version-number {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    color: #FFFFFF;
    right: 8px;
    bottom: 8px;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 12px;
}

ala-input-area {
    display: block;
    height: auto;
    background: #FFFFFF;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    z-index: 5;
    position: relative;
}

ala-chat-area-container {
    position: relative;
    flex-grow: 1;
}

ala-fade-gradient {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 32px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    z-index: 5;
}
