<ala-chat-card chat-id="{{id}}" {{#if starred}}starred{{/if}}>
	<header>
		<h2>{{title}}</h2>
		<ala-header-icons>
			<ala-icon id="star" class="mdi mdi-star"></ala-icon>
		</ala-header-icons>
	</header>
	<ala-last-message>
		<span class="message">{{lastMessage.message}}</span>
		<span class="timestamp">{{lastTimestamp.timestamp}}</span>
	</ala-last-message>
	<ala-user-list>
		{{#each members}}
			{{!-- TODO --}}
		{{/each}}
		<ala-user><img class="grav grav-32" src="http://gravatar.com/avatar/69ff77344256ee27af75e03df9e5372d?s=128&d=identicon" />Matthew Savage</ala-user>
		<ala-user><img class="grav grav-32" src="http://gravatar.com/avatar/38f6ed5c7d8cb24230feacdf441478e8?s=128&d=identicon" />Zachary Wade</ala-user>
		<ala-user><img class="grav grav-32" src="http://gravatar.com/avatar/22f060b76647e1d3ca9f4406491503a8?s=128&d=identicon" />Kyle Herndon</ala-user>
		<ala-user><img class="grav grav-32" src="http://gravatar.com/avatar/86aa4244dc31ed4f5dc84a39711c7bd6?s=128&d=identicon" />Danial Hussain</ala-user>
		<ala-user><img class="grav grav-32" src="http://gravatar.com/avatar/c467a9e2e29755552b9da765eed54462?s=128&d=identicon" />Ashley Kim</ala-user>
	</ala-user-list>
</ala-chat-card>