<ala-mod-card>
	<header>
		<h2>{{title}}</h2>
		<ala-header-icons float="right">
			<ala-icon id="expand" class="mdi mdi-arrow-expand"></ala-icon>
			<ala-icon id="collapse" class="mdi mdi-arrow-collapse"></ala-icon>
		</ala-header-icons>
	</header>
	<iframe src="/mods/ui/{{mod}}/" sandbox="allow-scripts"></iframe>
</ala-mod-card>
