@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.4.1/octicons.min.css");

ala-github {
	display: inline-block;
	padding: .1em 1em .1em .1em;
	border: 1px solid rgba(0, 0, 0, .12);
	border-radius: 2em;
	background: #f0f0f0;
	color: #222222;
	position: relative;
	
	&:before {
		content: "";
		height: 1.6em;
		width: 1.6em;
		border-radius: 1em;
		color: #FFFFFF;
		font-family: octicons;
		display: inline-flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-size: 1.4em;
		margin-right: .2em;
	}
}

ala-github[type=repo]:before {
	content: "\f001";
	background-color: #ffffff;
	color: #333333;
}

ala-github[type=issue][open]:before {
	content: "\f026";
	background-color: #6cc644;
}

ala-github[type=issue][closed]:before {
	content: "\f028";
	background-color: #bd2c00;
}